extends app-layout
block content
    div(ng-controller='HomeController as h', ng-cloak='', flex='')
        md-nav-bar.md-padding
            a(href='/')
            img.site-logo(src='images/logo-blk.png', title='', alt='')
            md-nav-item(md-nav-href='#shop-style', name='get-started') Get Started
            md-nav-item(md-nav-href='#contact', name='contact-us') Contact Us
            md-nav-item(md-nav-href='/login', name='login') Login
            md-nav-item(md-nav-href='/faq', name='faq') FAQ
        // Account
        div(layout='column', layout-padding='')
            div
            h2(flex='') Your Account
            div(layout='row')
                label  Username: 
                label  #{username}
            h3  Orders
            div(layout="column")
                each order in orders
                    a(href="/orders/#{order.id}") Order ##{order.id}
                    form(action='/purchase', method='POST')
                        // Note that the amount is in paise = 50 INR
                        script(src='https://checkout.razorpay.com/v1/checkout.js', data-key='<YOUR_KEY_ID>', data-amount='5000', data-buttontext='Pay with Razorpay', data-name='Merchant Name', data-description='Purchase Description', data-image='https://your-awesome-site.com/your_logo.jpg', data-prefill.name='Prasanna Venkatesh', data-prefill.email='support@razorpay.com', data-theme.color='#F37254')
                        input(type='hidden', value='Hidden Element', name='hidden')

