<div ng-controller='HomeController as h' ng-cloak flex>

    <md-nav-bar class='md-padding'>
        <a href="/" rel="home">
            <img class="site-logo" src="images/logo-blk.png" title="" alt="">
        </a>
        <md-nav-item md-nav-href="#shop-style" name="get-started">Get Started</md-nav-item>
        <md-nav-item md-nav-href="#contact" name="contact-us">Contact Us</md-nav-item>
        <md-nav-item md-nav-href="/login" name="login">Login</md-nav-item>
        <md-nav-item md-nav-href="/faq" name="faq">FAQ</md-nav-item>
    </md-nav-bar>

    <!--Account -->

    <div layout="column" layout-padding>
        <div>
            <h2 flex>Your Account </h2>
            <div layout="row">
                <label> Username: </label>
                <label> #{username} </label>
            </div>
        </div>

        <div>
            <h3> Orders </h3>
            
        </div>
    </div>
    
</div>