doctype html
html(lang='en-US', prefix='og: http://ogp.me/ns#')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Personal Stylists for Men - Tee20
    // ********************************************************************
    // * Custom Header JavaScript Code ************************************
    // ********************************************************************
    // ********************************************************************
    // * WordPress wp_head() **********************************************
    // ********************************************************************
    meta(name='description', content="Dress well without trying. Let one of our stylists help you find clothes you'll love. All online and completely free. Pay only if you like.")
    meta(name='robots', content='noodp')
    link(rel='canonical', href='https://tee20.com/')
    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Personal Stylists for Men - Tee20')
    meta(property='og:description', content="Dress well without trying. Let one of our stylists help you find clothes you'll love. All online and completely free. Pay only if you like.")
    meta(property='og:url', content='https://tee20.com/')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content="Dress well without trying. Let one of our stylists help you find clothes you'll love. All online and completely free. Pay only if you like.")
    meta(name='twitter:title', content='Personal Stylists for Men - Tee20')
    meta(name='twitter:site', content='@tee20club')
    meta(name='twitter:creator', content='@tee20club')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/javascripts/angular-material/angular-material.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open%20Sans')
    link(rel='stylesheet', href='/stylesheets/font-awesome-4.6.3/css/font-awesome.min.css')
  body(ng-app='StarkApp' ng-cloak)
    block content
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(src='/javascripts/angular/angular.js')
    script(src='/javascripts/angular-aria/angular-aria.js')
    script(src='/javascripts/angular-animate/angular-animate.js')
    script(src='/javascripts/angular-material/angular-material.js')
    script(src='/javascripts/angular-messages/angular-messages.js')
    script(src='/javascripts/main.js')
   