extends app-layout
block content
    include header
    div(layout="column")
        h2(style='color: #ffffff !important;text-align: center !important;font-family:Istok Web !important;font-weight:400 !important;font-style:normal !important;') Get in Touch
        p(style='color: #ffffff !important;text-align: center !important;font-family:Istok Web !important;font-weight:400 !important;font-style:normal !important;') We're here to help you. Contact us anytime.
        .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_custom_1452068011476
        .wpb_column.vc_column_container.vc_col-sm-4
            .vc_column-inner
            .wpb_wrapper
                .shortcode_icon_box.icon_position_top.icon_style_normal.without_separator
                .icon_wrapper(style='background-color:#ffffff; border-color:#ffffff')
                    .icon.basic-smartphone(style='color:#ffffff')
                .icon_box_content
                    p
                    span(style='color: #ffffff;') +91-9035090335
        .wpb_column.vc_column_container.vc_col-sm-4
            .vc_column-inner
            .wpb_wrapper
                .shortcode_icon_box.icon_position_top.icon_style_normal.without_separator
                .icon_wrapper(style='background-color:#ffffff; border-color:#ffffff')
                    .icon.basic-elaboration-mail-check(style='color:#ffffff')
                .icon_box_content
                    p
                    span(style='color: #ffffff;') captain@tee20.com
        .wpb_column.vc_column_container.vc_col-sm-4
            .vc_column-inner
            .wpb_wrapper
                .shortcode_icon_box.icon_position_top.icon_style_normal.without_separator
                .icon_wrapper(style='background-color:#ffffff; border-color:#ffffff')
                    .icon.ecommerce-megaphone(style='color:#ffffff')
                .icon_box_content
                    p
                    span(style='color: #ffffff;') @tee20club
