extends app-layout
block content
    include header
    div(layout='column' style='margin-left:10%; margin-right:10%')
        h4 What is Tee20.com?
        p
            | Tee20 is the ultimate answer to men’s clothing problem. As men, you know you have this fantasy. The fantasy of not having to go shopping every week or month to buy clothes. Tee20 is a dream come true in that sense. We have some really awesome stylists. They will understand your style, hunt over thousands of types, designs and colors and would choose just that perfect piece of clothing that will make you look dapper!
            br
        
        h4 How does it work ?
        p
            | Simple. Choose your style by filling a really short questionnaire. Our Super Stylists will receive a notification that you are onboard. They will immediately start working on how you’ll look with what. Once they find a perfect match, our job is to ship those shirts/Tees to you. Fall in love with it.
        
        h4 How frequently would you send me clothes?
        p
            | Clothes are delivered to you on demand. Whenever you would like a new box delivered, just let your stylist know.
        
        h4
            | What if I don’t like one of the clothes you send?
            br
        p
            | How unlikely! Our super stylists are trained by special forces of heaven and earth. Don’t think they are ordinary people. They know you more than you can imagine. They know what colors would look great on you and what won’t. They know your unique physical type. They also know psychometrics which means they’d know when you are in a party mood, vacation mood or work mood. All of these extrasensory perceptive intelligence goes into deciding what works for you. But, if you still don’t like it, NO BIG DEAL. We’ll pick it up from your home free of charge and send you something even nicer. You don’t even have to pay for shirts you don’t like.
        
        h4 Who are you guys?
        
        p
            | We are average folks who represent majority of working and college going population. We started wearing clothes before we knew we weren't. Just like you, we have also had girl friends. When we all sat together over a beer last year, discussing about how painful it gets at times, to give a satisfying answer to our girl friends. When we made a list of all the complaints we have been receiving from our girlfriends, we found that one thing kept featuring in everybody’s list. That our wardrobes are dull. We then sent out a survey to approximately 7.73L individual men, most of them are entrepreneurs, doctors, astronauts and politicians. They all agreed that this has been a point of bother for them too. So, we quit film making to focus on helping fellow dudes. Does this answer?
            br
            | If not, send us a mail and we’ll be happy to respond within 24–48 hours (if it’s not raining in Chennai).
            br
