footer(class='site-footer' layout="column" layout-align='center center')
    div(layout="row" layout-align='center center'  layout-padding style="min-width: 250px" flex="40")
        a.social_media.siteFooterText(href='https://www.facebook.com/tee20club', target='_blank',flex)
            i.fa.fa-facebook.fa-2x(aria-hidden='true')
        a.social_media.siteFooterText(href='http://twitter.com/tee20club', target='_blank',flex)
            i.fa.fa-twitter.fa-2x(aria-hidden='true')
        a.social_media.siteFooterText(href='http://instagram.com/tee20club', target='_blank',flex)
             i.fa.fa-instagram.fa-2x(aria-hidden='true')
    div(flex="10")
        p © Tee20.com - The easiest way for a guy to buy. Email us at captain@tee20.com
            