md-nav-bar.md-padding
  a(href='/', rel='home')
    img.site-logo(src='images/logo-blk.png', title='', alt='')
  md-nav-item(md-nav-href='/shop-style', name='get-started') Get Started
  md-nav-item(md-nav-href='/contact', name='contact-us') Contact Us
  md-nav-item(md-nav-href='/login', name='login') Login
  md-nav-item(md-nav-href='/faq', name='faq') FAQ
