extends app-layout
block content
    div(ng-controller='HomeController as h', ng-cloak='', flex='')
        md-nav-bar.md-padding
            a(href='/', rel='home')
            img.site-logo(src='images/logo-blk.png', title='', alt='')
            md-nav-item(md-nav-href='#shop-style', name='get-started') Get Started
            md-nav-item(md-nav-href='#contact', name='contact-us') Contact Us
            md-nav-item(md-nav-href='/login', name='login') Login
            md-nav-item(md-nav-href='/faq', name='faq') FAQ
        // Account
        div(layout='column', layout-padding='')
            div
                h3  Order #{order.id}
                div(layout="column")
                    label
                        strong #{order.order_status}
                    if order.order_status == "PROCESSING"
                        a(href="https://razorpay.com") Make payment


