<div ng-controller='RegisterController as l' ng-cloak flex>

    <md-nav-bar class='md-padding'>
        <a href="/" rel="home">
            <img class="site-logo" src="images/logo-blk.png" title="" alt="">
        </a>
        <md-nav-item md-nav-href="#shop-style" name="get-started">Get Started</md-nav-item>
        <md-nav-item md-nav-href="#contact" name="contact-us">Contact Us</md-nav-item>
        <md-nav-item md-nav-href="/login" name="login">Login</md-nav-item>
        <md-nav-item md-nav-href="/faq" name="faq">FAQ</md-nav-item>
    </md-nav-bar>

    <!--Login -->
    <div layout="column" class="md-padding" layout-align="center center">
        <h2> Register </h2>
        <label ng-show="reset == true"> You've succesfully reset your password. Please login.</label>
        <form style="min-width: 400px" ng-submit="register()" name="registerForm">
            <div layout="column" layout-padding>
                <md-input-container>
                    <label>Email</label>
                    <input name="username" ng-model="registerData.username" required>
                    <div ng-messages="registerForm.username.$error" role="alert" md-auto-hide="false">
                        <div ng-message="dupeEmail">This email has already been taken</div>
                        <div ng-message="required">required</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="registerData.password" required ng-minlength="8">
                    <div ng-messages="registerForm.password.$error" role="alert" md-auto-hide="false">
                        <div ng-message="required">required</div>
                        <div ng-message="minlength">password needs to be atleast 8 characters long</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Address</label>
                    <input type="text" name="address" ng-model="registerData.address" required>
                    <div ng-messages="registerForm.address.$error" role="alert" md-auto-hide="false">
                        <div ng-message="required">required.</div>
                    </div>
                </md-input-container>

                <div layout="row">
                    <md-input-container>
                        <label>City</label>
                        <input type="text" name="city" ng-model="registerData.city" required role="alert" md-auto-hide="false">
                        <div ng-messages="registerForm.city.$error">
                            <div ng-message="required">city is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>State</label>
                        <input type="text" name="state" ng-model="registerData.state" required role="alert" md-auto-hide="false">
                        <div ng-messages="registerForm.state.$error">
                            <div ng-message="required">state is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container>
                    <label>Pincode</label>
                    <input type="number" name="pincode" ng-model="registerData.pincode" required role="alert" md-auto-hide="false">
                    <div ng-messages="registerForm.pincode.$error">
                        <div ng-message="required">pincode is required.</div>
                    </div>
                </md-input-container>

                <!--Submit-->
                <md-button class="md-raised md-primary" type="submit" ng-disabled="state == 'REGISTERING'">Submit</md-button>
            </div>
        </form>

        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="state=='REGISTERING'">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>