<div ng-controller='PrefsController as p' ng-cloak>

    <md-nav-bar class='md-padding'>
        <a href="/" rel="home">
            <img class="site-logo" src="images/logo-blk.png" title="" alt="">
        </a>
        <md-nav-item md-nav-href="#shop-style" name="get-started">Get Started</md-nav-item>
        <md-nav-item md-nav-href="#contact" name="contact-us">Contact Us</md-nav-item>
        <md-nav-item md-nav-href="/login" name="login">Login</md-nav-item>
        <md-nav-item md-nav-href="/faq" name="faq">FAQ</md-nav-item>
    </md-nav-bar>

    <div layout="column" layout style="margin-left: 8%" layout-margin>
        <form name="preferencesForm" ng-submit="submitPrefs()">
            <h2> Tell us your style preferences </h2>
            <md-divider md-inset></md-divider>

            <label><strong> 1. What kind of clothes do you wear most often ?</strong> </label>
            <md-radio-group name="lifestyle" ng-model="lifestyle" layout='row' required>
                <md-radio-button value="casual" aria-label="Casual">
                    <img src="images/lifestyle-casual.jpg"></img>
                </md-radio-button>
                <md-radio-button value="formal" aria-label="Formal">
                    <img src="images/lifestyle-formal.jpg"></img>
                </md-radio-button>
                <md-radio-button value="smart" aria-label="Smart" layout='column'>
                    <img src="images/lifestyle-smart.jpg"></img>
                </md-radio-button>
            </md-radio-group>
          
            <md-divider md-inset></md-divider>
            <div layout-padding>
                <md-label><strong> 2. What is your body type ?</strong> </md-label>

                <md-radio-group ng-model="body" layout='row' required>
                    <md-radio-button value="rectangle" aria-label="rectangle">
                        <img src="images/body-rectangle.jpg"></img>
                    </md-radio-button>
                    <md-radio-button value="triangle" aria-label="triangle">
                        <img src="images/body-triangle.jpg"></img>
                    </md-radio-button>
                    <md-radio-button value="trapezoid" aria-label="trapezoid" layout='column'>
                        <img src="images/body-trapezoid.jpg"></img>
                    </md-radio-button>
                    <md-radio-button value="oval" aria-label="oval" layout='column'>
                        <img src="images/body-oval.jpg"></img>
                    </md-radio-button>
                </md-radio-group>
               
            </div>

            <md-divider md-inset></md-divider>
            <div layout-padding layout="column" style="width: 20%">
                <md-input-container>
                    <label>3. What shirts fit you well ?</label>
                    <input type="text" ng-model="shirtSize" required>
                    <div ng-messages="preferencesForm.shirtSize.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                            Required
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>4. What pants fit you well ?</label>
                    <input type="text" ng-model="pantSize" required>
                    <div ng-messages="preferencesForm.pantSize.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                            Required
                        </div>
                    </div>
                </md-input-container>
            </div>

            <md-radio-group ng-model="budget" layout-padding required>
                <md-label><strong>5. How much do you usually spend on clothes</md-label></strong>
                    <md-radio-button value="high" aria-label="high">
                        I get the best (Gucci, Ralph Lauren etc)
                    </md-radio-button>
                    <md-radio-button value="mid" aria-label="mid">
                        I spend modestly (Zara, UCB)
                    </md-radio-button>
                    <md-radio-button value="low" aria-label="low">
                        I don't spend a lot (Arrow, Peter England)
                    </md-radio-button>
                    <div ng-messages="preferencesForm.budget.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                            Required
                        </div>
                    </div>
            </md-radio-group>

            <div layout="column">
                <md-label><strong>6. What do you NOT like to wear ?</md-label></strong>
                    <md-input-container layout-padding>
                        <md-checkbox ng-model="shorts" aria-label="Shorts?">
                            Shorts
                        </md-checkbox>
                        <md-checkbox ng-model="denimFade" aria-label="Denim (Heavy Fade)">
                            Denim (Heavy Fade)
                        </md-checkbox>
                        <md-checkbox ng-model="denimRipped" aria-label="Denim (Ripped)">
                            Denim (Ripped)
                        </md-checkbox>
                    </md-input-container>
            </div>
            <md-divider md-inset></md-divider>
            <div layout="column" style="width: 20%">
                <md-input-container>
                    <label>Email </label>
                    <input type="text" ng-model="email" required>
                </md-input-container>
                <md-input-container>
                    <label>Phone </label>
                    <input type="text" ng-model="phone" required>
                </md-input-container>
            </div>
            <md-button style="max-width:10%" class="md-raised md-primary" type="submit"> Submit </md-button>
        </form>
    </div>
</div>