body {
  font-family: 'Open Sans', sans-serif;
}

.transparent-bg {
  background: rgba(0,0,0,0);
}

.navbutton {
 color: white;
}

.mainHeaderContainer {
  color: white;
  /*min-height: 600px;
  height: 50%; */
}

.mainHeader {
  color: white;
  font-size: -webkit-xxx-large;
}

.mainSubHeader {
  color: white;
  font-size: large;
}

.callToAction {
  width: 10%;
  height: 10%;
  min-height: 40px;
}

@media only screen and (max-width: 767px) {
  div {
    background-image: url(images/home1-570x708.jpg);
  }
}


/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}


/* visual styles */
section {
	background:#9ed100;
}
.not-fullscreen {
    height:100%;
}

.homeTopContent {
  background-image: url('../images/home1.jpg');
  max-height: 800px;
}

.centerText {
   text-align: center;
}

.sectionGrey {
  min-height:500px;
  background-color: #f3f3f3;
}

.sectionWhite {
  min-height: 500px; 
}

.darkFont {
  color: grey;
}

.siteFooterText {
  color: #878787;
}

.site-footer {
  background: #323a45;
  min-height: 150px;
  color: #878787;
}

[class~=_md-nav-button] {
  color: white !important
}

.errorMessage {
  color: red;
}