<div ng-controller='HomeController as hl' ng-cloak>
    <div class="not-fullscreen background parallax homeTopContent" style="min-height: 800px" layout="column">
        <div class="md-padding transparent-bg" flex="10">
            <!--<div layout="row" layout-xs="column">
                <a href="/" rel="home" flex="10">
                    <img class="site-logo" src="images/logo1.png" title="" alt="">
                </a>
                <md-button class="navbutton">Get Started</md-button>
                <md-button class="navbutton">Contact Us</md-button>
                <md-button class="navbutton">Login</md-button>
                <md-button class="navbutton">FAQ</md-button>
            </div>-->
            <md-nav-bar class='md-padding' flex='10'>
                <a href="/" rel="home">
                    <img class="site-logo" src="images/logo1.png" title="" alt="">
                </a>
                <md-nav-item style='color:white' md-nav-href="#shop-style" name="get-started">Get Started</md-nav-item>
                <md-nav-item md-nav-href="#contact" name="contact-us">Contact Us</md-nav-item>
                <md-nav-item md-nav-href="/login" name="login">Login</md-nav-item>
                <md-nav-item md-nav-href="/faq" name="faq">FAQ</md-nav-item>
            </md-nav-bar>
        </div>

        <div class="transparent-bg" layout="column" layout-align="top center" flex="50" layout-margin>
            <div class="mainHeader"> Build a Kickass Wardrobe With No Effort </div>
            <div class="mainSubHeader"> Your personal stylist will find the best clothes to fit your style, budget, and existing wardrobe. </div>
            <md-button class="md-raised md-primary callToAction"> Get Started </md-button>
        </div>
    </div>

    <div>
        <div layout="column" layout-align="center center" class="sectionGrey">
            <p style="font-size: xx-large; font-weight: bold">
                Style That Works On Your Schedule
            </p>
            <div layout="row" layout-fill>
                <div layout="column" layout-align="center center" flex layout-padding>
                    <img src="images/clipboard-list-flat.png" width="100" height="100" alt="test" title="test">
                    <strong style="font-size: larger"> Tell us your style </strong>
                    <p class="centerText">At Tee20, everything is tailored to you. Choose your plan, style preference, and delivery schedule</p>
                </div>
                <div layout="column" layout-align="center center" flex layout-padding>
                    <img src="images/uniform-100x100.png" width="100" height="100" alt="test" title="test">
                    <strong style="font-size: larger" flex> Home try on </strong>
                    <p class="centerText">Based on your style preference and current trends, get clothes hand-picked by an expert professional
                        stylist
                    </p>
                </div>
                <div layout="column" layout-align="center center" flex layout-padding>
                    <img src="images/hands-100x100.png" width="100" height="100" alt="test" title="test">
                    <strong style="font-size: larger" flex>Buy only if you like </strong>
                    <p class="centerText">You'll get 7 days to decide which ones to keep and which ones to send back.Free shipping back and forth</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div layout="column" layout-align="center center" class="sectionWhite">
            <p style="font-size: xx-large; font-weight: bold">
                Pricing
            </p>
            <div layout="row" layout-fill>
                <div layout="column" layout-align="center center" flex layout-padding>
                    <div layout="column" layout-align="center center" flex>
                        <img src="images/tees-polos.png" width="100" height="100" alt="test" title="test">
                        <strong style="font-size: larger"> Tees & Polos </strong>
                        <p class="centerText">₹400 onwards</p>
                    </div>
                    <div layout="column" layout-align="center center" flex>
                        <img src="images/shoes.png" width="100" height="100" alt="test" title="test">
                        <strong style="font-size: larger">Shoes</strong>
                        <p class="centerText">₹400 onwards</p>
                    </div>
                </div>

                <div layout="column" layout-align="center center" flex layout-padding>
                    <div layout="column" layout-align="center center" flex>
                        <img src="images/shirts.png" width="100" height="100" alt="test" title="test">
                        <strong style="font-size: larger"> Shirts </strong>
                        <p class="centerText">₹900 onwards</p>
                    </div>
                    <div layout="column" layout-align="center center" flex>
                        <img src="images/bottoms.png" width="100" height="100" alt="test" title="test">
                        <strong style="font-size: larger">Jeans & Chinos</strong>
                        <p class="centerText">₹1400 onwards</p>
                    </div>
                </div>

                <div layout="column" layout-align="center center" flex layout-padding>
                    <div layout="column" layout-align="center center" flex>
                        <img src="images/winterwear1.png" width="100" height="100" alt="test" title="test">
                        <strong style="font-size: larger"> Winterwear </strong>
                        <p class="centerText">₹900 onwards</p>
                    </div>
                    <div layout="column" layout-align="center center" flex>
                        <img src="images/accessories.png" width="100" height="100" alt="test" title="test">
                        <strong style="font-size: larger">Accessories</strong>
                        <p class="centerText">₹800 onwards</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>