<div ng-controller='LoginController as l' ng-cloak flex>

    <md-nav-bar class='md-padding'>
        <a href="/" rel="home">
            <img class="site-logo" src="images/logo-blk.png" title="" alt="">
        </a>
        <md-nav-item md-nav-href="#shop-style" name="get-started">Get Started</md-nav-item>
        <md-nav-item md-nav-href="#contact" name="contact-us">Contact Us</md-nav-item>
        <md-nav-item md-nav-href="/login" name="login">Login</md-nav-item>
        <md-nav-item md-nav-href="/faq" name="faq">FAQ</md-nav-item>
    </md-nav-bar>

    <!--Login -->
    <div layout="column" class="md-padding" layout-align="center center" ng-show="widget == 'LOGIN'">
        <h2> Login </h2>
        <label ng-show="reset == true"> You've succesfully reset your password. Please login.</label>
        <form style="min-width: 400px" ng-submit="login()" name="loginForm">
            <div layout="column" layout-padding>
                <md-input-container>
                    <label>Username/Email</label>
                    <input name="username" ng-model="loginData.username">
                </md-input-container>

                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="loginData.password">
                </md-input-container>
                
                 <md-input-container ng-show="state == 'ERROR'">
                    <div class="md-input-message-animation ng-scope" style="opacity: 1; margin-top: 0px;">
                        Incorrect Username/Password
                    </div>
                </md-input-container>

                <!--Submit-->
                <md-button class="md-raised md-primary" type="submit" ng-disabled="state == 'LOGGING_IN'">Submit</md-button>
                <a href="#" ng-click="widget = 'FORGOT'"> Forgot Username/Password </a>
            </div>
        </form>

        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="state=='LOGGING_IN'">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>

    <!-- Forgot password -->
    <div layout="column" class="md-padding" layout-align="center center" ng-show="widget == 'FORGOT'">
        <form name="forgotPassword" style="min-width: 400px" ng-submit="forgotPassword1()">
            <div layout="column">
                <h2> Please enter your email to begin resetting your password </h2>
                <md-input-container md-no-float>
                    <label> Email </label>
                    <input name="email" ng-model="forgotData.email">
                </md-input-container>

                <md-button class="md-raised md-primary" type="submit" ng-disabled="state == 'LOGGING_IN'">Submit</md-button>
            </div>
        </form>
    </div>

    <!-- Forgot confirmation -->
    <div layout="column" class="md-padding" layout-align="center center" ng-show="widget == 'FORGOT_SUCCESS'">
        <label> Please check your email to reset your password </label>
    </div>
</div>