<div ng-controller='LoginController as r' ng-init="widget = 'RESET'" ng-cloak>
    <md-nav-bar class='md-padding'>
        <a href="/" rel="home">
            <img class="site-logo" src="images/logo-blk.png" title="" alt="">
        </a>
        <md-nav-item md-nav-href="#shop-style" name="get-started">Get Started</md-nav-item>
        <md-nav-item md-nav-href="#contact" name="contact-us">Contact Us</md-nav-item>
        <md-nav-item md-nav-href="/login" name="login">Login</md-nav-item>
        <md-nav-item md-nav-href="/faq" name="faq">FAQ</md-nav-item>
    </md-nav-bar>

    <!--Reset -->
    <div layout="column" class="md-padding" layout-align="center center" ng-show="widget == 'RESET'">
        <h2> Enter a new password </h2>
        <form style="min-width: 400px" method="POST" name="resetForm" ng-submit="resetPassword1()">
            <div layout="column" layout-padding>
                <md-input-container>
                    <label>New Password</label>
                    <input type="password" name="newPassword" ng-model="resetData.newPassword">
                </md-input-container>

                <md-button class="md-raised md-primary" type="submit" ng-disabled="state == 'RESETTING'">Submit</md-button>
            </div>
        </form>
        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="state=='RESETTING'">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>